# URL server backend
VITE_API_URL=http://localhost:4000

# Ryu API keys (opsional, 5 key rotasi)
VITE_RYU_KEY_1=
VITE_RYU_KEY_2=
VITE_RYU_KEY_3=
VITE_RYU_KEY_4=
VITE_RYU_KEY_5=

# SteamGridDB fallback (opsional)
VITE_STEAMGRIDDB_KEY=
