# ── Database ──────────────────────────────
MONGO_URI=mongodb+srv://31gametools:31gametools@31gametools.blwdbkn.mongodb.net/?appName=31gametools

# ── JWT ───────────────────────────────────
JWT_SECRET=threeone31secret2026

# ── Server ────────────────────────────────
PORT=4000

# ── Discord OAuth ─────────────────────────
DISCORD_CLIENT_ID=1522394904439947446
DISCORD_CLIENT_SECRET=p68oXE7wz6xGsaq2wddpsefYOveECSIe
DISCORD_REDIRECT_URI=https://31gametools-server.onrender.com/auth/discord/callback

# ── Discord Bot ───────────────────────────
DISCORD_BOT_TOKEN=MTUyMjM5NDkwNDQzOTk0NzQ0Ng.Gz60qs.di2MzHcQmsPoynLkRYqRgJVVIpwzGSdldGW9kY
DISCORD_GUILD_ID=1298288905812181124
DISCORD_REQUIRED_ROLE=ISI_ROLE_ID_YANG_WAJIB_DIMILIKI

# ── Discord Role Sync (ID role di Discord server) ─────────────
# Saat user login, role Discord mereka otomatis jadi role di app
DISCORD_ROLE_ADMIN=1444169960451735612
DISCORD_ROLE_PLATINUM=1515987433131474944
DISCORD_ROLE_GOLD=1444168380973318239
DISCORD_ROLE_PUBLIC=1444157332245315727


# ── Discord Webhook ───────────────────────
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1515571167795347608/URfBDUTATfw-YIEP5w0DfBZZ6nUbrb0jJK4zT3KbXVWT7K5WWfqo1H7Qwet8gPSdsa1A

# ── Ryu API (5 keys) ──────────────────────
RYU_KEY_1=aOuaAbQRLFkaf5F3
RYU_KEY_2=C2WBp87Vxh0Te99J
RYU_KEY_3=k7S8ljmFTrpyBSYQ
RYU_KEY_4=E5BbEE4D5rXAQPZh
RYU_KEY_5=

# ── SteamGridDB (fallback) ────────────────
STEAMGRIDDB_KEY=73f4358887df5e9f19aee41793176729
